swagger: "2.0"
info:
  version: 2.0.0
  title: "Vets 4 Warriors CLR"
  description: The Counselor's Laptop Resource API, which currently powers the CLR website.
  termsOfService: https://clr.vets4warriors.com/terms/
  contact:
    name: Vets CLR Team
    email: clrv4w@gmail.com
    url: https://clr.vets4warriors.com/help
  license:
    name: MIT
    url: http://github.com/gruntjs/grunt/blob/master/LICENSE-MIT
host: clr.vets4warriors.com
basePath: /api
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /branches:
    get:
      operationId: find branches
      description: |
        Returns all branches from the system that the user has access to
      parameters:
        - name: tags
          in: query
          description: tags to filter by
          required: false
          type: array
          collectionFormat: csv
          items:
            type: string
        - name: limit
          in: query
          description: maximum number of results to return
          required: false
          type: integer
          format: int32
      responses:
        200:
          description: Branch response
          schema:
            type: array
            items:
              $ref: '#/definitions/Branch'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      operationId: create new branch
      description: Creates a new branch under a organization.
      parameters:
        - name: pet
          in: body
          description: Pet to add to the store
          required: true
          schema:
            $ref: '#/definitions/NewBranch'
      responses:
        200:
          description: branch response
          schema:
            $ref: '#/definitions/Branch'
        400:
          description: bad requrest error
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
  /branches/{id}:
    get:
      description: Returns a branch based on a single ID.
      operationId: find branch by id
      parameters:
        - name: id
          in: path
          description: ID of branch to fetch
          required: true
          type: string
      responses:
        200:
          description: branch response
          schema:
            $ref: '#/definitions/Branch'
        404:
          description: branch not found
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
    delete:
      description: deletes a single branch based on the ID supplied
      operationId: delete branch by id
      parameters:
        - name: id
          in: path
          description: ID of pet to delete
          required: true
          type: string
      responses:
        204:
          description: branch deleted
        404:
          description: branch not found
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
definitions:
  Branch:
    allOf:
      - $ref: '#/definitions/NewBranch'
      - required:
        - id
        properties:
          id:
            type: string
            format: ObjectId
  NewBranch:
    required:
      - organizationId
      - name
    properties:
      organizationId:
        type: string
      name:
        type: string
      tags:
        description: tags to filter by
        type: array
        items:
          type: string
      coverages:
        type: array
        items:
          type: string
          enum:
            - Local
            - State
            - Regional
            - National
            - International
  Organization:
    required:
      - name
    properties:
      name:
        type: string
      tag:
        type: string
  User:
    properties:
      id:
        type: string
      name:
        type: string
      reviewIds:
        type: array
        items:
          type: string
          format: ObjectId
        description: All reviews left by a user
      
  Address:
    properties:
      coordinates:
        type: string
      streetAddress:
        type: string
      country:
        type: string
      locality:
        type: string
      region:
        type: string
      postOfficeBoxNumber:
        type: string
      postalCode:
        type: string
  Contact:
    properties:
      email:
        type: string
        format: email
      phone:
        type: string
      website:
        type: string
        format: url
  UserCreated:
    properties:
      createdOn:
        type: string
        format: date
      createdBy:
        type: string
        format: ObjectId
        description: The User Id who created the object
      lastModifiedOn:
        type: string
        format: date
      lastModifiedBy:
        type: string
        format: ObjectId
        description: The User Id who last modified the object
  Error:
    required:
      - code
      - message
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
  GeoPoint:
    required:
      - lat
      - lon
    properties:
      lat:
        type: number
        format: float
      lon:
        type: number
        format: float