swagger: "2.0"
info:
  version: 2.0.0
  title: "Vets 4 Warriors CLR"
  description: The Counselor's Laptop Resource API, which currently powers the CLR website.
  termsOfService: https://clr.vets4warriors.com/terms/
  contact:
    name: Vets CLR Team
    email: clrv4w@gmail.com
    url: https://clr.vets4warriors.com/help
  license:
    name: Proprietary
    url: http://www.binpress.com/license/view/l/31a63919b465ac54dd17595042cc0aa6
host: clr.vets4warriors.com
basePath: /api
schemes:
  - http
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /organizations:
    get:
      description: |
        Returns all organizations from the system that the user has access to
      parameters:
        - $ref: '#/parameters/LimitParam'
        - $ref: '#/parameters/PageParam'
      responses:
        200:
          description: Organization response
          schema:
            type: array
            items:
              $ref: '#/definitions/Organization'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      operationId: create new organization
      description: Creates a new organization.
      parameters:
        - name: organization
          in: body
          description: Organization to add
          required: true
          schema:
            $ref: '#/definitions/NewOrganization'
      responses:
        201:
          description: organization created response
          schema:
            $ref: '#/definitions/Organization'
        400:
          description: bad requrest error
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      
  /organizations/{id}:
    parameters:
      - name: id
        in: path
        description: ID of the organization
        required: true
        type: string
        x-example: '42'
    get:
      description: Returns an organization based on a single ID.
      operationId: find org by id
      responses:
        200:
          description: organization response
          schema:
            $ref: '#/definitions/Organization'
        404:
          description: organization not found
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
    put:
      operationId: update an org
      description: Updates a single organization
      parameters:
        - name: organization
          in: body
          description: The organization to update against
          required: true
          schema:
            $ref: '#/definitions/Organization'
      responses:
        200:
          description: organization updated
          schema:
            $ref: '#/definitions/Organization'
        400:
          description: bad request
          schema:
            $ref: '#/definitions/Error'
        404:
          description: organization not found
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
    delete:
      description: deletes a single organization based on the ID supplied
      operationId: delete org by id
      responses:
        204:
          description: organization deleted
        404:
          description: organization not found
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
    
  /branches:
    get:
      operationId: find branches
      description: |
        Returns all branches from the system that the user has access to
      parameters:
        - name: tags
          in: query
          description: tags to filter by
          required: false
          type: array
          collectionFormat: csv
          items:
            type: string
        - $ref: '#/parameters/LimitParam'
        - $ref: '#/parameters/PageParam'
      responses:
        200:
          description: Branch response
          schema:
            type: array
            items:
              $ref: '#/definitions/Branch'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      operationId: create new branch
      description: Creates a new branch under a organization.
      parameters:
        - name: branch
          in: body
          description: Branch to add
          required: true
          schema:
            $ref: '#/definitions/NewBranch'
      responses:
        201:
          description: branch created response
          schema:
            $ref: '#/definitions/Branch'
        400:
          description: bad requrest error
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
  /branches/{id}:
    parameters:
      - name: id
        in: path
        description: ID of the branch
        required: true
        type: string
        x-example: '90210'
    get:
      description: Returns a branch based on a single ID.
      operationId: find branch by id
      responses:
        200:
          description: branch response
          schema:
            $ref: '#/definitions/Branch'
        404:
          description: branch not found
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
    put:
      operationId: update a branch
      description: Updates a single branch
      parameters:
        - name: branch
          in: body
          description: the branch to update against
          required: true
          schema:
            $ref: '#/definitions/Branch'
      responses:
        200:
          description: branch updated
          schema:
            $ref: '#/definitions/Branch'
        400:
          description: bad request
          schema:
            $ref: '#/definitions/Error'
        404:
          description: branch not found
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
    delete:
      description: deletes a single branch based on the ID supplied
      operationId: delete branch by id
      parameters:
        - name: id
          in: path
          description: ID of branch to delete
          required: true
          type: string
      responses:
        204:
          description: branch deleted
        404:
          description: branch not found
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
            
  /branches/{id}/reviews:
    parameters:
      - name: id
        in: path
        description: ID of the branch
        required: true
        type: string
        x-example: '90210'
    get:
      description: |
        Returns all reviews for a branch that the user has access to
      parameters:
        - name: limit
          in: query
          description: maximum number of results to return
          required: false
          type: integer
          format: int32
        - name: page
          in: query
          description: page of results to receive
          required: false
          default: 1
          type: integer
          format: int32
      responses:
        200:
          description: Reviews response
          schema:
            type: array
            items:
              $ref: '#/definitions/Review'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      operationId: create new review
      description: Creates a new review for a branch.
      parameters:
        - name: review
          in: body
          description: Review to add
          required: true
          schema:
            $ref: '#/definitions/NewReview'
      responses:
        201:
          description: review created response
          schema:
            $ref: '#/definitions/Review'
        400:
          description: bad requrest error
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'

definitions:
  Branch:
    allOf:
      - $ref: '#/definitions/NewBranch'
      - $ref: '#/definitions/UserCreated'
      - type: object
        required:
          - id
        properties:
          id:
            type: string
            format: ObjectId
  NewBranch:
    required:
      - organizationId
      - name
    properties:
      organizationId:
        type: string
      name:
        type: string
      tags:
        description: tags to filter by
        type: array
        items:
          type: string
      coverages:
        type: array
        items:
          type: string
          enum:
            - Local
            - State
            - Regional
            - National
            - International
  Organization:
    allOf:
      - $ref: '#/definitions/NewOrganization'
      - $ref: '#/definitions/UserCreated'
      - type: object
        required:
          - id
        properties:
          id:
            type: string
            format: ObjectId
  NewOrganization:
    required:
      - name
    properties:
      name:
        type: string
      contact:
          $ref: '#/definitions/Contact'
  User:
    properties:
      id:
        type: string
      name:
        type: string
      reviewIds:
        type: array
        items:
          type: string
          format: ObjectId
        description: All reviews left by a user
  Address:
    properties:
      coordinates:
        $ref: '#/definitions/GeoPoint'
      streetAddress:
        type: string
      country:
        type: string
      locality:
        type: string
      region:
        type: string
      postOfficeBoxNumber:
        type: string
      postalCode:
        type: string
  Contact:
    properties:
      email:
        type: string
        format: email
      phone:
        type: string
      website:
        type: string
        format: url
    example:
      email: 'v4wclr@gmail.com'
      phone: '555-555-5555'
      website: 'vets4warriors.com'
  Review:
    allOf:
      - $ref: '#/definitions/UserCreated'
      - $ref: '#/definitions/NewReview'
      - type: object
        required:
          - id
        properties:
          id:
            type: string
            format: ObjectId
  NewReview:
    required:
      - rating
    properties:
      rating:
        type: integer
        minimum: 1
        maximum: 5
      comment:
        type: string
    example:
      rating: 4
      comment: 'Were responsive and professional.'
  UserCreated:
    properties:
      createdOn:
        type: string
        format: date
      createdBy:
        type: string
        format: ObjectId
        description: The User Id who created the object
      lastModifiedOn:
        type: string
        format: date
      lastModifiedBy:
        type: string
        format: ObjectId
        description: The User Id who last modified the object
  Error:
    required:
      - code
      - message
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
    example:
      code: 404
      message: 'Not found!'
  GeoPoint:
    required:
      - lat
      - lon
    properties:
      lat:
        type: number
        format: float
      lon:
        type: number
        format: float
    example:
      lat: 37.402
      lon: -122.078
parameters:
  LimitParam:
    name: limit
    in: query
    description: maximum number of results to return
    required: false
    type: integer
    format: int32
  PageParam:
    name: page
    in: query
    description: page of results to receive
    required: false
    default: 1
    type: integer
    format: int32